.app-wrapper{
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas: 
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1em;
}
.like{
    color: #00FF03;
    font-size: 24px;
}
.dislike{
    color: #CC0000;
    font-size: 24ёpx;
}
.app-wrapper-content{
    grid-area: c;
    background-color: aqua;
}