.dialogs{
    display: grid;
    grid-template-columns: 5fr 10fr;
    align-items: start;
}
.dialogItemWrapper{
    display: grid;
    grid-template-columns: 45px 4fr;
    align-items: center;
}
.dialogItemMasseges{
    padding: 5px;
}
.dialogItemWrapper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
